.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
.astro/standalone/
.astro/worktrees/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.astro/*.local.yml
.astro/*.local.yaml

**/.astro/dbt_metadata.json
**/.astro/manifest.slim.json
*.p8
*.pem
include/keys/
.env
dags/dbt_project/target/
dags/dbt_project/dbt_packages/
logs/
dags/dbt_project/.user.yml
